<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <h1>Страница About</h1>
    <p>Спасибо!</p>
    <p>
        <b>Email:</b> <%= data.email %><br>
        <b>Pass:</b> <%= data.pass %><br>
        <b>isCheck:</b> <%= data.check %>
    </p>

</body>

</html>